<%- include('partials/header'); -%>
<h1 class="text-center font-bold">Home</h1>
<!-- <img src="images/Brand-logo/png/logo-color.png" alt=""> -->
<p class="m-4"><%= homeStartingContent %></p>
<p class="m-4	">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<p class="m-4">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nemo nostrum
  quis ut, iusto natus facilis porro architecto voluptas dignissimos nobis, nam
  ratione illo molestias? Totam iure provident neque alias enim, a, fugit cumque
  molestias aut quibusdam omnis doloribus explicabo dolore amet recusandae
  tempore? Ipsam, consectetur? Molestiae distinctio ipsum corporis
  necessitatibus iusto voluptas laborum provident libero quaerat sit sequi nisi,
  velit vero optio accusantium nobis excepturi eaque quibusdam sed. Natus ipsam
  quod fuga quaerat? Odit reprehenderit sint fugit expedita magnam accusamus
  eligendi rerum, iure, molestiae nostrum in sequi, laudantium est nemo? Quo
  esse architecto excepturi dolor illum asperiores quae assumenda.
</p>
<%- include('partials/footer'); -%>
