<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diary</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="public/css/main.css"> -->
    <style>
      /* width */
      body::-webkit-scrollbar {
        /* background: #f5f5f5; */
        width: 0.5em;
      }

      /* Track */
      body::-webkit-scrollbar-track {
        /* background: #111827; */
        opacity: 0.5;
      }

      /* Handle */
      body::-webkit-scrollbar-thumb {
        background: #888;
        /* background: #000000; */
        border-radius: 5px;
      }

      /* Handle on hover */
      body::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      body {
        background: rgb(2, 0, 36);
        background: linear-gradient(
          252deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(9, 9, 121, 1) 35%,
          rgba(0, 212, 255, 1) 100%
        );
      }
      p{
        color: rgb(243 244 246);
      }
    </style>
  </head>

  <body class="flex flex-col min-h-screen">
    <%- include('navbar'); -%>
  </body>
</html>
