<%- include('partials/header') %>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      class="form-control"
      autofocus
      required
    />
  </div>

  <div class="form-group">
    <label for="post" class="form-label">Post</label>
    <!-- <input type="text" name="post" id="post" class="form-control" /> -->
    <textarea name="post" id="post" cols="30" rows="10" class="form-control">
Write here</textarea
    >
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </div>
</form>
<%- include('partials/footer') %>
